*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  scroll-behavior: smooth; }

body {
  box-sizing: border-box; }

::selection {
  background-color: #008481;
  color: #ffffff; }

body {
  font-family: "DM Sans", sans-serif; }

@media (max-width: 992px) {
  .heading {
    text-align: center; } }

.heading--primary {
  font-weight: 700;
  color: #008481;
  font-size: 6.2rem; }
  @media (max-width: 768px) {
    .heading--primary {
      font-size: 4.2rem; } }

.heading--secondary {
  font-weight: 700;
  color: #003a40;
  font-size: 3.8rem;
  line-height: 1.3; }
  @media (max-width: 768px) {
    .heading--secondary {
      font-size: 2.8rem; } }
  .heading--secondary span {
    color: #008481; }

.heading--tertiary {
  font-weight: 500;
  color: #003a40;
  font-size: 3.2rem; }
  @media (max-width: 768px) {
    .heading--tertiary {
      font-size: 2.2rem; } }
  .heading--tertiary span {
    color: #008481;
    font-weight: 600; }

.heading--fourth {
  color: #003a40;
  font-weight: 500;
  font-size: 2.4rem; }
  @media (max-width: 768px) {
    .heading--fourth {
      font-size: 1.4rem; } }

.u-center-text {
  text-align: center; }

.u-margin-bottom-small {
  margin-bottom: 1.6rem; }

.u-margin-bottom-medium {
  margin-bottom: 2rem; }

.u-margin-bottom-large {
  margin-bottom: 5.8rem; }
  @media (max-width: 768px) {
    .u-margin-bottom-large {
      margin-bottom: 3rem; } }

.u-margin-top-small {
  margin-top: 1.5rem; }

.u-margin-top-medium {
  margin-top: 3rem; }

.u-margin-top-large {
  margin-top: 5.8rem; }
  @media (max-width: 768px) {
    .u-margin-top-large {
      margin-top: 3rem; } }

.u-margin-between-large {
  margin: 0 15rem; }

.u-postion-relative {
  position: relative; }

.u-width-70 {
  width: 70%; }
  @media (max-width: 992px) {
    .u-width-70 {
      width: 100%; } }

.btn {
  border: none;
  border-radius: 0;
  font-size: 1.6rem;
  padding: 1rem 2.3rem;
  font-weight: 500; }

.btn-primary {
  background-color: #f1c400;
  color: #003a40; }
  .btn-primary:hover, .btn-primary:first-child:active {
    background-color: #f1c400;
    color: #003a40; }

.card-news {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2.1rem 2.1rem 2rem 2.1rem;
  box-shadow: 0px 1px 3px #00000029;
  min-height: 33.5rem;
  background-color: #f2f5f5;
  color: #003a40;
  border-radius: 3px;
  font-weight: 500;
  width: 30.7rem; }
  .card-news__top {
    display: flex;
    align-items: center;
    margin-bottom: 1rem; }
  .card-news__logo {
    margin-right: 1rem; }
  .card-news__name {
    font-size: 2rem;
    line-height: 1.3; }
    .card-news__name span {
      display: block;
      font-weight: 700; }
  .card-news__content {
    font-size: 1.6rem;
    width: 99%;
    margin-bottom: 2.8rem; }
    .card-news__content span {
      font-weight: 700; }
  .card-news__button-link {
    font-size: 1.6rem;
    text-decoration: none;
    color: #003a40; }
    .card-news__button-link span {
      text-decoration: underline;
      margin-right: 0.5rem; }
  .card-news__nav {
    display: flex;
    justify-content: right;
    font-size: 1.6rem; }
  .card-news__nav-text {
    text-decoration: underline;
    margin-right: 2rem; }
  .card-news__nav-arrows-group {
    display: flex; }
  .card-news__nav-arrow {
    cursor: pointer;
    margin: 0 0.5rem; }

.card-product {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 3.2rem 3.2rem;
  box-shadow: 0px 1px 3px #00000029;
  min-height: 24.8rem;
  color: #003a40;
  border-radius: 3px;
  font-weight: 500; }
  .card-product__top {
    display: flex;
    align-items: center; }
  .card-product__logo {
    margin-right: 1rem; }
  .card-product__name {
    font-size: 2rem;
    line-height: 1.3; }
    .card-product__name span {
      display: block;
      font-weight: 700; }
  .card-product__content {
    font-size: 1.6rem;
    width: 23.1rem;
    margin: 0; }
  .card-product__button-link {
    font-size: 1.6rem;
    text-decoration: none;
    color: #003a40; }
    .card-product__button-link span {
      text-decoration: underline;
      margin-right: 0.5rem; }
  .card-product--cyan {
    background-color: #def0f2; }
  .card-product--green {
    background-color: #dcf2ea; }
  .card-product--yellow-green {
    background-color: #ebf2d3; }
  .card-product--orange {
    background-color: #f5eedc; }
  .card-product--blue {
    background-color: #ebf8ff; }
  .card-product--purple {
    background-color: #f0f0ff; }

.card-shop {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 3.2rem 3.2rem 1.3rem 3.2rem;
  min-height: 15rem;
  color: #003a40;
  font-weight: 500; }
  .card-shop__top {
    display: flex;
    align-items: center; }
  .card-shop__logo {
    margin-right: 1rem; }
  .card-shop__name {
    font-size: 2rem;
    line-height: 1.3; }
    .card-shop__name span {
      display: block;
      font-weight: 700;
      width: 24rem; }
  .card-shop__button-link {
    font-size: 1.6rem;
    text-decoration: none;
    color: #003a40;
    text-align: right; }
    .card-shop__button-link span {
      text-decoration: underline;
      margin-right: 0.5rem; }
  .card-shop--cyan {
    background-color: #def0f2;
    border: 1px solid #06c9d8; }
  .card-shop--green {
    background-color: #dcf2ea;
    border: 1px solid #00ba73; }
  .card-shop--yellow-green {
    background-color: #ebf2d3; }
  .card-shop--orange {
    background-color: #f5eedc;
    border: 1px solid #f1c400; }
  .card-shop--blue {
    background-color: #ebf8ff; }
  .card-shop--purple {
    background-color: #f0f0ff;
    border: 1px solid #9c9cff; }

.footer {
  padding: 1.5rem 0;
  color: #ffffff;
  background-color: #163a40; }
  .footer__logo {
    margin: 1rem 0; }
  .footer__address {
    font-weight: 500;
    font-size: 1.5rem; }
  .footer__right {
    display: flex;
    justify-content: right;
    flex-direction: column;
    align-items: flex-end; }
    @media (max-width: 992px) {
      .footer__right {
        justify-content: center;
        align-items: center;
        padding: 0 2rem; } }
  @media (max-width: 992px) {
    .footer__left {
      padding: 0 2rem;
      text-align: center; } }
  .footer__list {
    margin-top: 3.5rem;
    list-style: none; }
  .footer__item {
    display: inline-block; }
    @media (max-width: 992px) {
      .footer__item {
        text-align: center; } }
  .footer__item:not(:last-child) {
    margin-right: 1.8rem; }
  .footer__link {
    text-decoration: none;
    font-weight: 500;
    color: #ffffff;
    font-size: 1.5rem; }
    .footer__link:hover {
      color: #f1c400; }

.hero {
  background-color: #e5ebeb; }
  .hero__box {
    min-height: 74.2rem;
    display: flex;
    align-items: center; }
    @media (max-width: 992px) {
      .hero__box {
        text-align: center;
        justify-content: center;
        min-height: 40.2rem; } }
  .hero__text {
    width: 45.5rem; }
    @media (max-width: 768px) {
      .hero__text {
        padding: 0 2rem; } }
  .hero__paragraph {
    font-size: 1.5rem;
    font-weight: 400;
    color: #003a40; }

.navbar-nav {
  font-size: 2rem;
  font-weight: 500;
  color: #003a40; }

.navbar {
  padding: 2.48rem 0 4rem 0; }
  @media (max-width: 768px) {
    .navbar {
      padding: 2.48rem 2rem 4rem 2rem; } }

.nav {
  position: relative;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1); }

.nav-link {
  padding-right: 0 !important;
  padding-left: 0 !important;
  font-weight: 700;
  color: #003a40; }

.nav-item {
  display: flex;
  align-items: center; }

.navbar-toggler-icon {
  font-size: 2.1rem; }

.nav-link--icon {
  display: inline-block; }

.nav-link--icon:not(:last-child) {
  padding: 0 0.2rem !important; }

.nav-link--icon:last-child {
  padding: 0 0 0 0.2rem !important; }

.nav-item:not(:last-child) {
  padding-right: 2.25rem;
  padding-left: 2.25rem; }
  @media (max-width: 992px) {
    .nav-item:not(:last-child) {
      padding-right: 0rem;
      padding-left: 0rem; } }

.top-nav {
  display: flex;
  justify-content: flex-end;
  margin: 0.3rem 0; }
  @media (max-width: 992px) {
    .top-nav {
      justify-content: center; } }
  @media (max-width: 768px) {
    .top-nav {
      margin: 0; } }
  .top-nav__list {
    display: flex;
    justify-content: flex-end;
    margin: 0.3rem 0;
    padding-left: 0; }
    @media (max-width: 992px) {
      .top-nav__list {
        justify-content: center; } }
    @media (max-width: 768px) {
      .top-nav__list {
        margin: 0; } }
  .top-nav__item {
    list-style: none;
    font-size: 1.5rem;
    color: #003a40; }
  .top-nav__link {
    text-decoration: none;
    color: #003a40; }
    @media (max-width: 768px) {
      .top-nav__link {
        font-size: 1rem; } }
  .top-nav__item:not(:last-child) {
    margin: 0rem 1rem; }

.service-desk {
  background-color: #f2f5f5; }
  .service-desk__list {
    list-style: none; }
    @media (max-width: 992px) {
      .service-desk__list {
        text-align: center; } }
  .service-desk__item {
    margin: 1rem 0; }
  .service-desk__link {
    text-decoration: none;
    font-size: 2.4rem;
    color: #003a40; }
    .service-desk__link span {
      text-decoration: underline; }
    .service-desk__link i {
      margin-right: 2rem; }
  @media (max-width: 768px) {
    .service-desk {
      padding: 0 2rem; } }

.section-products {
  padding: 10rem 0 8rem 0; }
  @media (max-width: 768px) {
    .section-products {
      padding: 6rem 2rem; } }

.section-shops {
  padding: 10rem 0 3.5rem 0;
  background-color: #f2f5f5; }
  @media (max-width: 768px) {
    .section-shops {
      padding: 6rem 2rem; } }

.section-news {
  padding: 10rem 0 10rem 0; }
  @media (max-width: 768px) {
    .section-news {
      padding: 6rem 2rem; } }
