// COLORS

$color-primary: #008481;
$color-primary-dark: #163a40;

$color-cyan-1: #def0f2;
$color-cyan-2: #06c9d8;

$color-green-1: #dcf2ea;
$color-green-2: #00ba73;
$color-yellow-green-1: #ebf2d3;

$color-orange-1: #f5eedc;
$color-orange-2: #f1c400;

$color-blue-1: #ebf8ff;

$color-purple-1: #f0f0ff;
$color-purple-2: #9c9cff;

$color-white: #ffffff;
$color-black-1: #000000;
$color-black-2: #141414;

$color-green-dark-1: #003a40;

$color-grey-1: #e5ebeb;
$color-grey-2: #f2f5f5;
