.hero {
  background-color: $color-grey-1;

  &__box {
    min-height: 74.2rem;
    display: flex;
    align-items: center;

    @include addMediaQuery(laptop) {
      text-align: center;
      justify-content: center;
      min-height: 40.2rem;
    }
  }

  &__text {
    width: 45.5rem;
    @include addMediaQuery(tablet) {
      padding: 0 2rem;
    }
  }

  &__paragraph {
    font-size: 1.5rem;
    font-weight: 400;
    color: $color-green-dark-1;
  }
}
