.service-desk {
  position: relative;
  background: linear-gradient(
    to right,
    $color-grey-2,
    50%,
    rgba(0, 0, 0, 0) 50%
  );

  @include addMediaQuery(laptop) {
    position: relative;
    background: linear-gradient(
      to right,
      $color-grey-2,
      50%,
      rgba(0, 0, 0, 0) 100%
    );
  }

  &__right {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 50%;
    background-image: url("../img/footer.jpg");
    background-size: cover;
    background-position: right;

    @include addMediaQuery(laptop) {
      display: none;
    }
  }

  &__list {
    list-style: none;

    @include addMediaQuery(laptop) {
      text-align: center;
      padding-left: 0;
    }
  }

  &__item {
    margin: 1rem 0;
  }

  &__link {
    text-decoration: none;

    font-size: 2.4rem;
    color: $color-green-dark-1;
    span {
      text-decoration: underline;
    }

    i {
      margin-right: 2rem;
    }
  }

  @include addMediaQuery(tablet) {
    padding: 0 2rem;
  }

  &__left {
  }

  &__right {
  }
}
