.btn {
  border: none;
  border-radius: 0;
  font-size: 1.6rem;
  padding: 1rem 2.3rem;
  font-weight: 500;
  display: inline-block;

  &--size-medium {
    font-size: 2rem;
  }

  &--size-small {
    font-size: 1.6rem;
  }
}

.btn-primary {
  background-color: $color-orange-2;
  color: $color-green-dark-1;
  border: 2px solid $color-orange-2;

  &:hover,
  &:first-child:active &:active {
    background-color: $color-orange-2 !important;
    color: $color-green-dark-1 !important;
    box-shadow: 0 0 0 0.25rem rgba($color-orange-2, 0.25) !important;
  }

  .btn-check:checked + .btn,
  .btn.active,
  .btn.show,
  .btn:first-child:active,
  :not(.btn-check) + .btn:active {
    background-color: $color-orange-2 !important;
    color: $color-green-dark-1;
    box-shadow: 0 0 0 0.25rem rgba($color-orange-2, 0.25) !important;
  }

  &:focus-visible {
    background-color: $color-orange-2 !important;
    color: $color-green-dark-1 !important;
    box-shadow: 0 0 0 0.25rem rgba($color-orange-2, 0.25) !important;
  }

  &--border {
    background-color: $color-white;
    border: 2px solid $color-orange-2;
  }
}

.btn-more {
  text-decoration: none;
  color: $color-primary;
  font-size: 2rem;
}
