.btn {
  border: none;
  border-radius: 0;
  font-size: 1.6rem;
  padding: 1rem 2.3rem;
  font-weight: 500;
  display: inline-block;

  &--size-medium {
    font-size: 2rem;
  }

  &--size-small {
    font-size: 1.6rem;
  }
}

.btn-primary {
  background-color: #f1c400;
  color: $color-green-dark-1;

  &:hover,
  &:first-child:active {
    background-color: #f1c400;
    color: $color-green-dark-1;
  }
}
