body {
  font-family: "DM Sans", sans-serif;
}

.heading {
  @include addMediaQuery(laptop) {
    text-align: center;
  }
  &--primary {
    font-weight: 700;
    color: $color-primary;
    font-size: 6.2rem;
    // margin-bottom: 2.2rem;

    @include addMediaQuery(tablet) {
      font-size: 4.2rem;
    }
  }

  &--secondary {
    font-weight: 700;

    color: $color-green-dark-1;
    font-size: 3.8rem;
    line-height: 1.3;

    @include addMediaQuery(tablet) {
      font-size: 2.8rem;
    }
    // margin-bottom: 1rem;

    span {
      color: $color-primary;
    }
  }

  &--tertiary {
    font-weight: 500;
    color: $color-green-dark-1;
    font-size: 3.2rem;

    @include addMediaQuery(tablet) {
      font-size: 2.2rem;
    }
    // margin-bottom: 1rem;

    span {
      color: $color-primary;
      font-weight: 600;
    }
  }

  &--fourth {
    color: $color-green-dark-1;
    font-weight: 500;
    font-size: 2.4rem;

    @include addMediaQuery(tablet) {
      font-size: 1.4rem;
    }
  }
}
